* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
}
p, span, button, a {
    font-family: 'Lato', sans-serif;
}
.container {
    display: flex; 
    justify-content: start; 
    align-items: center;
}
.main-button {
    background-color: white; 
    color: black; 
    font-size: 1rem; 
    text-align: center;
    text-decoration: none; 
    padding: 1em 2em; 
    border-radius: 30px; 
}
.secondary-button {
    color: rgba(255,255,255,0.7);
    font-size: 1rem; 
    text-decoration: none; 
    padding: 1em 2em; 
    border-radius: 30px; 
    border: 1px solid rgba(255,255,255,0.7); 
}
.secondary-button-two {
    color: #02132a;
    font-size: 1rem; 
    text-decoration: none; 
    padding: 1em 2em; 
    border-radius: 30px; 
    border: 1px solid #02132a; 
}
.main-heading {
    color: #02132a;
    font-size: 4rem; 
    line-height: 1; 
    margin-bottom: 1rem; 
}
/* navbar */ 
.navbar {
    position: fixed;
    width: 100%;
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 5rem;
}
.logo-container {
    p {
        color: white; 
    }
}
.navbar-container {
    display: grid; 
    justify-content: end;
    grid-template-columns: repeat(5, 1fr);
    text-align: right; 
    list-style-type: none;

    .nav-link {
        color: white; 
        cursor: pointer; 
    }
}
.video-background {
    object-fit: cover;
    position: absolute;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100vh;
    z-index: -1; 
}
.video-background-overlay{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background: rgba(0, 0, 0, 0.84);
}
.promo {
    display: grid; 
    justify-content: start; 
    align-content: center;
    height: 100vh; 
    padding: 0 5rem;

    h1 {
        font-size: 8rem;
        letter-spacing: -0.5rem;
        line-height: 1; 
        color: white; 
    }
    p {
        font-size: 2.7rem;
        font-weight: 300;
        color: rgba(255,255,255,0.7);
        margin-bottom: 2rem;
    }
    .secondary-button {
        margin-left: 1rem; 
    }  
    .fas {
        font-size: 1rem;
        margin-left: 0.5rem; 
    }
    .fa-angle-down {
        color: black; 
    }
    .fa-angle-right {
        color: rgba(255,255,255,0.7);
    }
}
.about-curve {
    border: 2px solid rgb(2,19,42);
    border-bottom-left-radius: 25%;
}
.about-cta {
    display: grid; 
    align-items: center;
    grid-template-columns: 2fr 1fr;
    height: 100vh;
    background-image: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,249,243,1) 35%, rgba(249,231,208,0.7) 100%); 
    padding: 0 5rem; 
    border: 2px solid #02132a;
    border-bottom-left-radius: 25%;
    margin: 2em;

    p {
        font-size: 1.2rem;
        font-weight: 300;
        color: #02132a;
        margin-bottom: 3rem;   
        line-height: 1.5;      
    }
    .fas {
        font-size: 1rem;
        margin-left: 0.5rem; 
        color: #02132a;
    }
    img {
        width: 90%; 
        height: auto;
        border-bottom-left-radius: 25%; 
    }
}
/* gallery section */ 
.gallery {
    height: 100vh; 
}