* {
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fcf3e7;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

p, span, button, a, small {
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: #02132a;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-button {
  background-color: white;
  color: black;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  position: relative;
  z-index: 1;
}

.main-button .fas {
  margin-left: 0.5rem;
}

.secondary-button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  text-decoration: none;
  padding: 1em 2em;
  border: 1px solid rgba(255, 255, 255, 0.7);
  -webkit-transition: .2s ease;
  transition: .2s ease;
  position: relative;
  z-index: 1;
}

.secondary-button .fas {
  margin-left: 0.5rem;
  z-index: 1;
}

.secondary-button:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: #02132a !important;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.secondary-button:hover:after {
  color: #02132a !important;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.secondary-button:hover {
  color: #02132a !important;
}

.secondary-button-two {
  color: #02132a;
  border: 1px solid #02132a;
  font-size: 1rem;
  text-decoration: none;
  padding: 1em 2em;
  position: relative;
  z-index: 1;
}

.secondary-button-two .fas {
  margin-left: 0.5rem;
}

.secondary-button-two:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #02132a;
  color: #02132a !important;
  -webkit-transition: .25s ease-in;
  transition: .25s ease-in;
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  opacity: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.secondary-button-two:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

.secondary-button-two:hover {
  color: white !important;
}

.page-heading {
  color: white;
  font-size: 6rem;
  margin-bottom: 0rem;
  letter-spacing: -0.3rem;
}

.main-heading {
  color: #02132a;
  font-size: 5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.3rem;
  font-weight: 400;
}

.main-heading-small {
  color: #02132a;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.3rem;
  font-weight: 400;
}

.main-subheading, .main-subheading-light {
  line-height: 2;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.main-subheading-light {
  color: rgba(255, 255, 255, 0.7);
}

.highlight-background {
  background-color: #fcf3e7;
  padding: 0 1rem;
}

.form-label {
  color: #02132a;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.position-relative {
  position: relative;
}

.skew-right {
  background-color: #fcf3e7;
  position: absolute;
  top: -10%;
  left: -10%;
  width: 20%;
  height: 120%;
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.skew-left {
  background-color: #fcf3e7;
  position: absolute;
  top: -10%;
  left: 90%;
  width: 20%;
  height: 120%;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

/* navbar */
.navbar-section {
  position: relative;
  z-index: 10;
}

.navbar {
  position: fixed;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 2rem 5rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.logo-container p {
  color: white;
}

.navbar-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  text-align: right;
  list-style-type: none;
}

.navbar-container .nav-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.video-background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.video-background-overlay {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.75);
}

/* header */
.header-section {
  position: relative;
  z-index: 2;
}

.promo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  padding: 0 5rem;
}

.promo h1 {
  font-size: 8rem;
  letter-spacing: -0.5rem;
  line-height: 1;
  color: white;
}

.promo p {
  font-size: 2.7rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
}

.promo .secondary-button {
  margin-left: 1rem;
}

.promo .fas {
  font-size: 1rem;
}

.promo .fa-angle-down {
  color: black;
}

/* about section */
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.about-section .about-background-one {
  width: 54%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1528136486997-bc538ef130d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.about-section .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
  height: 105%;
  background-color: #fcf3e7;
  -webkit-transform: rotate(6deg) translateX(-50px) translateY(30px);
          transform: rotate(6deg) translateX(-50px) translateY(30px);
  position: relative;
  z-index: 1;
}

.about-section .about-content .about-content-inner {
  position: relative;
  padding: 0rem 5rem 0 9rem;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.about-section .about-content .about-content-subtitle {
  line-height: 2;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.about-section .about-background-two {
  background-image: url(https://images.unsplash.com/photo-1528136486997-bc538ef130d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  width: 4%;
  height: 100%;
}

/* shows */
.shows-section {
  padding-bottom: 6rem;
}

.shows-content {
  background-color: #fcf3e7;
  padding: 5rem 4rem;
  z-index: 3;
  height: 100%;
}

.shows-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.shows-container-one {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8rem 5rem 5rem 5rem;
  text-align: center;
}

.shows-container-two {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  position: relative;
  height: 60vh;
}

.shows-container-two .shows-content {
  -webkit-transform: rotate(-6deg) translateX(25px);
          transform: rotate(-6deg) translateX(25px);
}

.shows-container-two .shows-content-inner {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.shows-container-two .show-video-content {
  position: relative;
}

.shows-container-two .walk-around-video {
  width: 100%;
  height: 100%;
}

.shows-container-two .show-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.4);
}

.shows-container-three {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  height: 70vh;
}

.shows-container-three .shows-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(6deg) translateX(-25px);
          transform: rotate(6deg) translateX(-25px);
  padding: 5rem 5rem;
}

.shows-container-three .shows-content-inner {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.shows-container-four {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  height: 70vh;
}

.shows-container-four .shows-content {
  -webkit-transform: rotate(-6deg) translateX(25px);
          transform: rotate(-6deg) translateX(25px);
}

.shows-container-four .shows-content-inner {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

/* featured work */
.featured-work-section {
  background-color: rgba(209, 210, 227, 0.4);
  position: relative;
  z-index: 5;
  padding-bottom: 10rem;
  -webkit-transform: skewY(5deg);
          transform: skewY(5deg);
}

.featured-work-title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 50%;
      grid-template-columns: 50%;
  text-align: center;
  padding: 8rem 5rem 5rem 5rem;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.featured-work {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  grid-gap: 2rem;
  -webkit-transform: skewY(-5deg);
          transform: skewY(-5deg);
}

.featured-work .featured-video-info-one, .featured-work .featured-video-info-two {
  padding: 1rem 2rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.featured-work .featured-video-info-two .main-heading-small {
  margin-bottom: 2.5rem;
}

.featured-work iframe {
  width: 100%;
}

/* contact page */
.contact-header {
  position: relative;
  background-image: url(https://scontent.fykz1-2.fna.fbcdn.net/v/t31.0-8/10504992_692628334138473_4946517905191679953_o.jpg?_nc_cat=104&_nc_ohc=o2x4rqwbSVAAX_FTbm5&_nc_ht=scontent.fykz1-2.fna&oh=b4cbc15892bf20db36e6e0a109b5c5aa&oe=5EBB1558);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.contact-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.contact-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

.contact-container .page-heading, .contact-container .main-subheading-light, .contact-container .main-button {
  position: relative;
  z-index: 2;
}

.contact-form {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 8rem 5rem;
}

.contact-form .contact-info {
  background-color: #fcf3e7;
  padding: 1rem 5rem 0 0;
  position: relative;
  z-index: 2;
  -webkit-transform: rotate(3deg) translateX(10px);
          transform: rotate(3deg) translateX(10px);
}

.contact-form .contact-info form {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.contact-form .contact-image {
  background: url("https://images.pexels.com/photos/719609/pexels-photo-719609.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  height: 90%;
  width: 100%;
  position: relative;
  z-index: 1;
  background-size: cover;
}

.contact-form .form-contain-one, .contact-form .form-contain-two {
  width: 100%;
}

.contact-form .form-contain-two {
  margin-left: 1rem;
}

.contact-form .form-label {
  margin-bottom: 1.5rem;
}

.contact-form .first-name, .contact-form .last-name, .contact-form .email-address, .contact-form .phone-number, .contact-form .subject, .contact-form .message {
  width: 100%;
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: transparent;
  padding: 0.8rem 2.5rem;
  border: 1px solid rgba(2, 19, 42, 0.2);
}

/* contact map */
.contact-map {
  background-color: #fcf3e7;
  padding: 0 5rem 6rem 5rem;
  height: 80vh;
}

.contact-map .contact-map-contain {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.contact-map .main-heading {
  margin-bottom: 0;
}

.contact-map .map {
  border: 0;
  width: 100%;
  height: 100%;
}

.contact-map .map-overlay {
  background-color: #fcf3e7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
}

/* about page */
.about-header {
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1528136486997-bc538ef130d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 70vh;
}

.about-header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.about-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

.about-container .page-heading, .about-container .main-subheading-light, .about-container .main-button {
  position: relative;
  z-index: 2;
}

.about-info-container {
  padding: 8rem 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about-info-container .about-info {
  position: relative;
  z-index: 1;
  padding: 0 5rem;
}

.about-info-container .main-subheading {
  line-height: 3 !important;
}

.about-info-container-two {
  padding: 0 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.about-info-container-two .about-image-two {
  background-image: url(../assets/about-image-one.jpg);
  height: 600px;
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-info-container-two .about-image-four {
  height: 600px;
  background-image: url(https://images.pexels.com/photos/3290047/pexels-photo-3290047.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-position: left;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.about-info-container-two .about-info {
  position: relative;
  z-index: 1;
  padding: 0 5rem;
}

.about-info-container-two .main-subheading {
  line-height: 3 !important;
}

.gallery-container {
  padding: 8rem 0.1rem 0;
}

.gallery-container .gallery-header {
  text-align: center;
  padding-bottom: 5rem;
}

.gallery-container .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-container .gallery .gallery-column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  margin: 0.1rem;
}

/* responsive styles for gallery */
@media screen and (max-width: 800px) {
  .gallery-column {
    -webkit-box-flex: 40% !important;
        -ms-flex: 40% !important;
            flex: 40% !important;
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .gallery-column {
    -webkit-box-flex: 100% !important;
        -ms-flex: 100% !important;
            flex: 100% !important;
    max-width: 100%;
  }
}

/* footer */
footer {
  padding: 12rem 5rem 5rem 5rem;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer-container .footer-about, .footer-container .footer-pages, .footer-container .footer-contact {
  margin: 0 auto;
}

.footer-container .footer-title {
  margin-bottom: 1rem;
  font-size: 1.22rem;
}

.footer-container .footer-about-subtitle {
  margin-bottom: 1.4rem;
  line-height: 2;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.footer-container .footer-social-media-icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.footer-container .footer-pages-list {
  list-style-type: none;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
  -webkit-columns: 2;
          columns: 2;
}

.footer-container .footer-contact-info {
  margin-bottom: 1rem;
}

.footer-container .footer-contact-info span {
  font-weight: 300;
  margin-left: 0.5rem;
}

.footer-underline {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin: 4rem 0;
}

.copyright-container {
  text-align: center;
}

.copyright-container .copyright-text {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */