* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito Sans', sans-serif;
}

p, span, button, a, small {
  font-family: 'Lato', sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-button {
  background-color: white;
  color: black;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 30px;
}

.secondary-button {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1rem;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.secondary-button-two {
  color: #02132a;
  font-size: 1rem;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 30px;
  border: 1px solid #02132a;
}

.secondary-button-two i {
  margin-left: 0.5rem;
}

.main-heading {
  color: #02132a;
  font-size: 5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.3rem;
  font-weight: 400;
}

.main-heading-small {
  color: #02132a;
  font-size: 3.5rem;
  margin-bottom: 1rem;
  letter-spacing: -0.3rem;
  font-weight: 400;
}

.main-subheading {
  line-height: 2;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.highlight-background {
  background-color: rgba(100, 188, 205, 0.1);
  padding: 0 1rem;
}

/* navbar */
.navbar-section {
  position: relative;
  z-index: 5;
}

.navbar {
  position: fixed;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 2rem 5rem;
}

.logo-container p {
  color: white;
}

.navbar-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  text-align: right;
  list-style-type: none;
}

.navbar-container .nav-link {
  color: white;
  cursor: pointer;
}

.video-background {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
}

.video-background-overlay {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.84);
}

/* header */
.header-section {
  position: relative;
  z-index: 2;
}

.promo {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100vh;
  padding: 0 5rem;
}

.promo h1 {
  font-size: 8rem;
  letter-spacing: -0.5rem;
  line-height: 1;
  color: white;
}

.promo p {
  font-size: 2.7rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
}

.promo .secondary-button {
  margin-left: 1rem;
}

.promo .fas {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.promo .fa-angle-down {
  color: black;
}

.promo .fa-angle-right {
  color: rgba(255, 255, 255, 0.7);
}

/* about section */
.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
}

.about-section .about-background-one {
  width: 54%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1528136486997-bc538ef130d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -2;
}

.about-section .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46%;
  height: 105%;
  background-color: white;
  -webkit-transform: rotate(6deg) translateX(-50px) translateY(30px);
          transform: rotate(6deg) translateX(-50px) translateY(30px);
  position: relative;
  z-index: 1;
}

.about-section .about-content .about-content-inner {
  position: relative;
  padding: 0rem 5rem 0 9rem;
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.about-section .about-content .about-content-inner .about-square-one, .about-section .about-content .about-content-inner .about-square-two, .about-section .about-content .about-content-inner .about-square-three {
  position: absolute;
  background-color: rgba(100, 188, 205, 0.1);
  z-index: -1 !important;
}

.about-section .about-content .about-content-inner .about-square-one {
  top: -40%;
  right: 65%;
  width: 100px;
  height: 100px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.about-section .about-content .about-content-inner .about-square-two {
  top: 95%;
  right: 5%;
  width: 130px;
  height: 130px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.about-section .about-content .about-content-inner .about-square-three {
  top: 100%;
  right: 86%;
  width: 70px;
  height: 70px;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.about-section .about-content .about-content-subtitle {
  line-height: 2;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 1.2rem;
}

.about-section .about-background-two {
  background-image: url(https://images.unsplash.com/photo-1528136486997-bc538ef130d7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80);
  width: 4%;
  height: 100%;
}

/* shows */
.shows-content {
  background-color: white;
  padding: 5rem 4rem;
  z-index: 3;
  height: 100%;
}

.shows-image {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
}

.shows-container-one {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem 5rem 5rem 5rem;
  text-align: center;
}

.shows-container-two {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  position: relative;
  height: 60vh;
}

.shows-container-two .shows-content {
  -webkit-transform: rotate(-6deg) translateX(25px);
          transform: rotate(-6deg) translateX(25px);
}

.shows-container-two .shows-content-inner {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

.shows-container-two .show-video-content {
  position: relative;
}

.shows-container-two .walk-around-video {
  width: 100%;
  height: 100%;
}

.shows-container-two .show-video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.5);
}

.shows-container-three {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  height: 70vh;
}

.shows-container-three .shows-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(6deg) translateX(-25px);
          transform: rotate(6deg) translateX(-25px);
  padding: 5rem 5rem;
}

.shows-container-three .shows-content-inner {
  -webkit-transform: rotate(-6deg);
          transform: rotate(-6deg);
}

.shows-container-four {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0 5rem;
  height: 70vh;
}

.shows-container-four .shows-content {
  -webkit-transform: rotate(-6deg) translateX(25px);
          transform: rotate(-6deg) translateX(25px);
}

.shows-container-four .shows-content-inner {
  -webkit-transform: rotate(6deg);
          transform: rotate(6deg);
}

/* gallery section */
.gallery {
  height: 100vh;
}

/* footer */
footer {
  padding: 8rem 5rem;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer-container .footer-about, .footer-container .footer-pages, .footer-container .footer-contact {
  margin: 0 auto;
}

.footer-container .footer-title {
  margin-bottom: 1rem;
  font-size: 1.22rem;
}

.footer-container .footer-about-subtitle {
  margin-bottom: 1.4rem;
  line-height: 2;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
}

.footer-container .footer-social-media-icon {
  margin-right: 1rem;
  font-size: 1.2rem;
}

.footer-container .footer-pages-list {
  list-style-type: none;
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.7);
  line-height: 2;
  -webkit-columns: 2;
          columns: 2;
}

.footer-container .footer-contact-info {
  margin-bottom: 1rem;
}

.footer-container .footer-contact-info span {
  font-weight: 300;
  margin-left: 0.5rem;
}

.footer-underline {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.04);
  margin: 4rem 0;
}

.copyright-container {
  text-align: center;
}

.copyright-container .copyright-text {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
/*# sourceMappingURL=main.css.map */